.App {
  text-align: center;
}

h1 {
  font-size: 24px;
}

select,
input[type="file"],
button {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
}

.errors {
  margin-top: 20px;
  height: 400px;
  overflow: auto;
}

.errors ul {
  list-style-type: none;
  padding: 0;
}

.errors li {
  margin-bottom: 5px;
  color: red;
}
